.img-holder {
  height: 180px;
  overflow: hidden;
  margin-bottom: 40px;
  cursor: pointer;
}

@mixin panelColor($color) {
  i {
    color: $color;
  }
  .panel-color {
    background-color: $color;
  }
}

.panel-links {
  margin-top: 15px;
  & > div:nth-child(1) {
    @include panelColor($swb-orange);
  }
  & > div:nth-child(2) {
    @include panelColor($swb-yellow);
  }
  & > div:nth-child(3) {
    @include panelColor($swb-blue);
  }
  & > div:nth-child(4) {
    @include panelColor($swb-green);
  }
  & > div:nth-child(5) {
    @include panelColor($swb-red);
  }
  & > div:nth-child(6) {
    @include panelColor($swb-lightBlue);
  }
  & > div:nth-child(7) {
    @include panelColor($swb-lightGrey);
  }
}

.visitor-chart {
  height: 315px;
}

.active-users {
  height: 150px;
  font-size: 125px;
}

.note-editable {
  font-size: 20px;
}

.comment-form {
  .cancel {
    margin-right: 5px;
  }
}

.mark-read {
  margin-right: 5px;
}

.dz-image-preview {
  margin : 0 !important;
  .dz-image {
    border-radius : 0 !important;
    width: 100% !important;
    img {
      width: 100%;
    }
  }
}

.dropzone {
  min-height: 150px;
  padding: 20px;
  border: 2px dashed #3686be;
  position: relative;

  h4 {
    text-align: center;
    font-size: 1.7em;
  }
  
  input {
    width: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
  }

  #image-preview {
    box-shadow: 1px 1px 10px #CCC;
  }

}

.js-preview-reset {
  font-size: 1.5em;
  position: absolute;
  bottom: -2px;
  left: -2px;
  opacity: .5;
  padding: 3px 15px;
  z-index: 999;

  &:hover {
    opacity: 1;
  }
}