.blog-container {

  margin-top: 15px;

  .blog-name {
    margin-bottom: -5px;
    a:hover {
      text-decoration: none;
    }
  }

  .technologies {
    font-size: 15px;

    .label {
      padding: .4em .6em .3em;
      margin-right: 5px;
    }
  }

  .blog-image {
    cursor: pointer;
    max-height: 300px;
  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
  }

}

.tags-area {
  .label {
    padding: .4em .6em .3em;
    margin: 2px;
    cursor: pointer;
    font-weight: normal;
  }
}

.select2,
.select2-results__options {
  font-size: 12px !important;
}

.clear-filter {
  padding: .4em .6em .3em;
  margin: 2px;
  cursor: pointer;
  font-weight: normal;
  background-color: $swb-lightGrey;
  font-weight: normal;
}