#git_tree {
  width: 100%;
  opacity: 0.9;
  margin-top: -27px;
  circle {
    cursor: pointer;
  }
}

.project-details {

  .show-projects {
    span {
      vertical-align: super;
    }

    h2 {
      display: inline;
    }
  }

  .project-html {
    word-wrap: break-word;
    img {
      display: block !important;
      max-width: 100% !important;
      height: auto !important;
    }
  }
}

.project {
  opacity: .4;
  transition: opacity .25s ease-in-out;
  &:hover {
    opacity: 1;
  }
}